.footer {
    margin-top: 80px;
    padding-top: 80px;
    p {
        font-size: 0.8rem;
        text-align: right;
        color: aliceblue;
        .fa {
            color: #c44b51;
        }
    }
}
