h1 {
    color: rgb(224, 248, 255);
}

#nav {
    margin-bottom: 25px;
    padding-bottom: 50px;
}

nav {
    a {
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        border-radius: 4px;
        margin-left: 2px;
        &:visited,
        &:link {
            color: #607D8B;
        }
    }
}

nav a.active {
    background-color: rgb(14, 162, 236);
}