/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
.principal {
    height: 8rem;
    margin: 0 4.5rem;
    border-radius: .25rem;
    padding: 1rem;
}

.content {
    margin-top: 1rem;
}

.music {
    .card,
    .pagination {
        margin-top: 0.5rem;
    }
    .btn {
        display: inline-block;
        margin: 0 0.6rem;
    }
}

.glyph-icon {
    height: .75rem;
    display: inline-block;
    margin: 0.25rem;
}

h1 {
    color: aliceblue;
    padding-bottom: 25px;
}
